@media screen and (min-width: 300px) {
    .article {
        margin-top: 20px;
    }

    .articleTitle {
        margin-left: 0;

        font-size: 20px;
        text-decoration: underline;
    }

    .articleContent {
        display: flex;

        margin-top: 10px;
        margin-left: 0;
    }

    .contentWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0;
    }

    .lowerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    .info {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .lowerContent {
        display: flex;
        flex-direction: row;
    }

    .info {
        margin-left: 20px;
    }
}


