@media screen and (min-width: 300px) {
    .selectForm {
        margin-bottom: 15px;
    }

    .legendSelect {
        font-size: 18px;
        text-decoration: underline dodgerblue;
    }
}


@media screen and (min-width: 992px) {
    .selectForm {
        padding-right: 0;
        margin-bottom: 0;
    }
}