@media screen and (min-width: 300px) {
    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 10px;
        transition: all .4s;
    }

    .select {
        width: 50px !important;
    }
}

@media screen and (min-width: 768px) {
    .wrap {
        flex-direction: row;
    }

    .select {
        margin-left: 5px;
    }
}

