@media screen and (min-width: 300px) {
    .pageSizesSelectWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .pageSizes {
        width: 50px !important;
    }
}

@media screen and (min-width: 768px){
    .pageSizesSelectWrapper {
        flex-direction: row;
    }

    .pageSizes {
        margin-left: 5px;
    }
}

