@media screen and (min-width: 300px) {
    .wrap {
        text-align: center;
        margin-top: 10px;

        transition: all .4s;
    }

    .title {
        margin-top: 0;
        margin-bottom: 0;

        font-size: 30px;
    }

    .subtitle {
        margin-top: 0;
        font-size: 12px;
    }

    .subtitle a {
        text-decoration: none;
        color: dodgerblue;
    }
}

@media screen and (min-width: 768px) {
    .wrap {
        margin-top: 24px;
        text-align: center;
    }

    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 14px;
    }
}

