.form {
    display: flex;
    justify-content: center;
}

.input {
    flex: 1 85%;

    height: 26px;
    font-size: 18px;
}

.button {
    flex: 1 15%;

    background-color: dodgerblue;
    color: white;
    border: none;
    transition: background-color .3s;
}

.button:hover {
    background-color: deepskyblue;
}

.legend {
    composes: legends from '../form/Form.module.css';
}


