.searchForm {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.searchInput {
    flex: 1 85%;
    height: 26px;
    font-size: 18px;
}

.searchButton {
    flex: 1 15%;
    background-color: dodgerblue;
    color: white;
    border: none;
}

.searchButton:hover {
    background-color: deepskyblue;
}