@media screen and (min-width: 300px) {
    .readButton {
        display: inline-block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        padding: 6px 10px 6px 10px;
        margin-bottom: 15px;

        font-size: 16px;
        color: white;
        background-color: dodgerblue;
        transition: background-color .4s;
    }

    .readButton:hover {
        color: white;
        text-decoration: none;
        background-color: deepskyblue;
    }
}

@media screen and (min-width: 768px) {
    .readButton {
        width: inherit;
        margin: 0;
    }
}

