@media screen and (min-width: 300px) {
    .paginationForm {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .arrowBtn {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .paginationForm {
        justify-content: space-between;
    }
    .arrowBtn {
        display: block;
        height: 26px;
        background-color: dodgerblue;
        border: none;
        color: white;
    }

    .arrowBtn:hover {
        background-color: deepskyblue;
        outline: none;
    }

    .arrowBtn:disabled {
        background-color: lightgrey;
        color: white;
    }
}








