@media screen and (min-width: 300px) {
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .btn {
        display: none;
        transition: all .4s;
    }
}

@media screen and (min-width: 768px) {
    .form {
        justify-content: space-between;
    }

    .btn {
        display: block;
        height: 26px;
        border: none;

        background-color: dodgerblue;
        color: white;
    }

    .btn:hover {
        background-color: deepskyblue;
        outline: none;
    }

    .btn:disabled {
        background-color: lightgrey;
        color: white;
    }
}








